# General OS-specific files
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.nfs*

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually contains the result of a PyInstaller build
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/



venv.bak/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Pytest
.cache

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# Environments

.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# JetBrains
*.iml
.idea/
*.iws
*.ipr

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Node.js / React
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
bower_components/

# Testing
/coverage

# Production
/build
/dist

# Miscellaneous
.DS_Store


# Yarn
yarn.lock
.pnp.*
.pnp/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# MacOS files
.DS_Store

# Editor directories and files
.vscode/
*.swp
*.swo
*~

# Ignore any compiled JavaScript in the 'frontend' directory
/frontend/build/

# Ignore specific config files (if they contain sensitive data)


#virtual env
/.O1
